[submodule "bundle/vim-flavored-markdown"]
	path = bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/dbext"]
	path = bundle/dbext
    url = https://github.com/vim-scripts/dbext.vim.git
    ignore = untracked
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/sql_iabbr-vim"]
	path = bundle/sql_iabbr-vim
	url = https://github.com/vim-scripts/sql_iabbr.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-leiningen"]
	path = bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
